body {
background-color: #02ACCB;
}

.conteineris {
    display:inline-block;
    width: 800px;
    margin-top: 200px;
    margin-left: calc(50% - 400px);
    

}

.kairysis-stulpelis {
    width: 40%;
    float: left;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #184DAD;
    color: #fff;
    
}

.apatiniai-tekstai{
    
}

.apatiniai-tekstai > a {
    color: #fff;
}
.desnysis-stulpelis {
    width: 60%;
    padding: 60px;
    float: left;
background-color: #fff;
}

 .ikso-close {
}

